# Archivo de ejemplo para configuración (.env.example)

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=casino_db
DB_USER=postgres
DB_PASSWORD=postgres
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/casino_db
